<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Striped Progress bar
          <a class="get-code" data-toggle="collapse" href="#pgr3" aria-expanded="true">
            <i class="fa fa-code" title="Get Code" data-toggle="tooltip"></i>
          </a>
        </h4>
        <div class="collapse m-t-15" id="pgr3">
          <pre class="line-numbers language-javascript"><code>&lt;div class="progress"&gt;<br/>&lt;div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%;height:10px;"&gt; &lt;span class="sr-only"&gt;85% Complete&lt;/span&gt;&lt;/div&gt;<br/>&lt;/div&gt;</code></pre>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height:5px;"
            [style.width]="getPorcentaje1"
            role="progressbar">
          </div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height:5px;"
            [style.width]="getPorcentaje2"
            role="progressbar">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <!--        1-->
        <app-incremental (OutProgress)="progress1 = $event"></app-incremental>
        <!--        1-->
      </div>
    </div>
  </div>


  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <!--        2-->
        <app-incremental (OutProgress)="progress2 = $event" [btnClass]="'btn-info'"></app-incremental>
        <!--        2-->
      </div>
    </div>
  </div>

</div>




