<!-- DataTales Example -->
<div class="card shadow mb-4">
  <!--<div class="card-header py-3">
  </div>-->
  <div class="card-body">
    <h3 class="m-0 font-weight-bold text-primary">DataTables {{title}}</h3>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Foto de perfil</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Foto de perfil</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let i of users">
          <td><img [src]="i.imagen" alt="user" class="profile-pic" [height]="100" [width]="100"/></td>
          <td>{{i.nombre}}</td>
          <td>{{i.email}}</td>
          <td (click)="getUser(i.idUsuario)"><div class="btn btn-instagram"><i class="fa fa-pencil fa-lg"></i>&nbsp;&nbsp; Edit</div></td>
          <td (click)="eliminarUsuario(i.idUsuario)"><div class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i>&nbsp;&nbsp; Delete</div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
